extends ../layouts/common.pug

block content
    h1 View user

    hr
    .row
        .col-md-4 Name
        .col-md-4 
            span= user.name
    hr
    .row
        .col-md-4 Phone
        .col-md-4 
            span= user.phone